.bike-bg {
    background: var(--cor-11);
     padding-top: 60px;
    padding-bottom: 60px;
   
}


/* main */


/*Parte das bikes */

.bike-1 { 
display: grid;
grid-template-columns: 1fr 1fr;
gap: 40px;
margin-bottom: 60px;
align-content: start;
margin-top: 60px;
}

.bike-items { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 40px;
    
    
}

 .bike-1:nth-child(3){ 
    background: var(--cor-11);
    box-shadow:inset 250px 0px var(--cor-0), 400px 0px var(--cor-11);
    
    
}
/* Solução sugerida: bbackground: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);

*/


.bike-image { 
    padding-top: 40px;
    position: relative;
}

.bike-image span { 
position: absolute;
right: 0px;
background: var(--cor-12);
top: 80px;
border-radius: 10px 0 0 10px;
padding: 5px;
}
/*
Sempre busco realizar as tarefas antes de assistir os videos, esse cógido foi uma alternativa aprensentada em aula.


.bike-image { 
    display: grid;   
    
}

.bike-image img { 
    grid-area: 1/1;
}

.bike-image span { 
 display: inline-block;
 padding: 10px;
 grid-area: 1/1;
 place-self: start end;
 margin-top: 20px;
 border-radius: 8px 0 0 8px;
 background: var(--cor-12);
}
*/
.bike-items h2, p {
    margin-bottom: 10px; 
    grid-column: 1/-1;
}

.bike-items h2 { 
position: relative;
}

.bike-items h2::before { 
content: "";
display: block;
width: 12px;
height: 8px;
background: var(--cor-p1);
position: absolute;
top: -10px;

}


.bike-items li {
    padding-top:10px ; 
    display: flex;
    gap: 10px;
    align-items: center;
}

.botao.seta { 
    place-self: end;
    display: flex;
    align-items: center;
}

.botao.seta::after {
    content: "";
    width: 18px;
    height: 10px;
    display: inline-block;
    background: url("../../img/icones/seta.svg") no-repeat;
    margin-left: 10px;    
  
}

.botao.seta:hover::after {   
    transform: translateX(4px); 
    transition: 0.2s;
}

















@media (max-width:800px) { 
    .bike-1 { 
        grid-template-columns: 1fr;
        gap: 20px;      
    }
    .bike-1:nth-child(3) {
        box-shadow: none;
    }

    .bike-items { 
        grid-template-columns: 1fr;
        gap: 10px;
        padding-top: 60px;
        padding-bottom: 20px;
        
    }
    .bike-items .botao { 
        place-self: start;
    }
    .bike-items ul { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 20px;
        font-size: 1rem;
    }

}